* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(8, 14, 44);
  color: white;
}

.promt-to-video {
  min-height: 100vw;
  display: flex;
  margin-top: 0.25vw;
}

.sideBar {
  flex: 2;
  border-right: 1.5px solid rgb(204, 196, 196);
}

.logo {
  margin-left: 1rem;
  height: 5rem;
}

.brand {
  font-size: 4.25rem;
}

.upperSide {
  padding: 2.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1.5px solid rgb(204, 196, 196);
  height: 82.5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.upperSideButton {
  max-height: 35vw;
  overflow-y: auto;
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
  scrollbar-color: rgb(28, 30, 58) rgb(8, 14, 44);
}

.addButton {
  height: 2rem;
  padding-right: 1rem;
}

.midButton {
  background: #5a4bff;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 2rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5vw;
  border-radius: 0.5vw;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 1.5rem;
  width: 25rem;
  margin: 0.5rem;
  margin-left: 0rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
  font-size: 1.75rem;
}

.query > img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  padding: 2rem;
}

.listItems {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.listingItemsImage {
  margin: 1rem;
  padding-right: 1rem;
  height: 1.75vw;
}

.listItems:nth-child(2) > .listingItemsImage {
  margin-right: 1rem;
}

button {
  color: white;
  border: none;
  padding: 7.5px 7.5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.25);
}

.main {
  flex: 9;
  min-height: calc(100vw - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
  margin-bottom: 0;
}

.chats {
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 53vw;
  max-width: 55vw;
  height: 67.5vh;
  scrollbar-color: rgb(28, 30, 58) rgb(8, 14, 44);
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chatFooter {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background-color: rgba(28, 30, 58, 1);
  display: flex;
  border-radius: 0.5rem;
  width: 51.5vw;
  height: 5rem;
  position: fixed;
  bottom: 10rem;
  z-index: 1000;
}

.inp > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
  overflow: auto;
}

.inp > input,
.send {
  background: transparent;
  border: none;
}

.send:disabled {
  cursor: not-allowed;
  border: 3px solid #ff2d55;
  border-radius: 5px;
}

.inp textarea {
  font-size: 2rem;
  width: 100%;
  height: 5rem;
  resize: vertical;
  overflow-y: auto;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #1c1e3a;
  color: white;
  border: none;
  outline: none;
  resize: none;
  scrollbar-color: rgb(8, 14, 44) rgb(28, 30, 58);
}
.chatFooter > p {
  margin: 2rem 0;
}

.chatImg {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2rem;
  display: block;
  background-color: rgb(222, 224, 245);
}

.bot {
  background-color: rgba(28, 30, 58, 1);
  width: fit-content;
  border-radius: 0.5rem;
}

p {
  font-size: 2rem;
}

.disclaimer {
  width: 50vw;
  text-align: center;
  position: fixed;
  z-index: 1000;
  bottom: 1.75rem;
}

.listItems logoutButton {
  cursor: pointer;
}

.profanityWarning {
  display: flex;
  align-items: center;
  color: red;
  font-size: 1.5rem;
}

.videoLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(8, 14, 44);
  font-size: 14px;
  padding: 1rem;
  border: 1px #ccc;
  border-radius: 8px;
  background-color: #b7b8c1;
  width: 30rem;
}

.spinner {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #4a90e2;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.dots {
  display: inline-block;
  animation: bounceDots 1s ease-in-out infinite alternate;
  position: relative;
  top: 0;
}

@keyframes bounceDots {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -0.5px;
  }
}
