.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vw;
  max-width: 40vw;
  min-width: 25vw;
  height: auto;
  padding: 2vw;
  background: white;
  border-radius: 2vw;
  position: relative;
  margin: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;

  /* background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  text-align: start; */
}

html,
body {
  overflow: hidden;
}

.page-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1vw;
  width: 100%;
}

.text {
  color: black;
  font-size: 3.5vw;
  font-weight: 700;
  margin-top: 1vw;
}

.underline {
  width: 4.5vw;
  height: 0.5vw;
  border-radius: 1vw;
  background: black;
}

.inputs {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1.75vw;
}

.google-button {
  display: flex;
  align-items: center;
  margin: auto;
  width: 30vw;
  height: 5vw;
  background-color: #eaeaea;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin-top: 1vw;
}

.google-text {
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 1.5vw;
  font-weight: bold;
}

.google-button:hover .google-text {
  color: #4b4848;
  transform: scale(1.05);
}

.google-button:hover img {
  transform: scale(1.05);
}

.or {
  color: black;
}

.google-button img {
  margin: 0vw 1vw;
  width: 2vw;
  height: 1.45vw;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 30vw;
  height: 5vw;
  background-color: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0vw 1vw;
  width: 2vw;
  height: 1.45vw;
}

.input input {
  height: 5vw;
  width: 40vw;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 1.5vw;
}

.forgot-password {
  display: flex;
  justify-content: center;
  margin-top: 0.25vw;
  color: #797979;
  font-size: 1.5vw;
  color: #4c00b4;
  cursor: pointer;
}

.submit-container {
  gap: 5vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.submit-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4vw;
  font-size: 1.5vw;
  color: #fff;
  border-radius: 15px;
  font-size: 700;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 1vw 2vw;
  font-size: 2vw;
  font-weight: bold;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.submit-login-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.submit-register-button {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4vw;
  font-size: 1.5vw;
  color: #fff;
  border-radius: 15px;
  font-size: 700;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  padding: 1vw 2vw;
  font-size: 2vw;
  font-weight: bold;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.submit-register-button:hover {
  background-color: #1e7e34;
  transform: scale(1.05);
}

.gray {
  background: #eaeaea;
  color: #676767;
}
