.services-description {
  padding-left: 1vw;
}

.services-title {
  margin-bottom: 1.5vw;
}

.services-page {
  line-height: 3vw;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.try-autovid {
  display: flex;
  justify-content: flex-end;
  animation: flash 1.75s infinite;
}
