* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #020635;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2 rem;
  padding: 1 rem;
}

.site-title {
  font-size: 3vw;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 1.5vw;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.nav li.active {
  background-color: #1c1c84;
  border-radius: 15px;
}

.nav li:hover {
  background-color: #1c1c84;
  border-radius: 15px;
}

.app-logo {
  padding-left: 1vw;
  height: 3.75vw;
  margin-top: 0.25vw;
}

.login {
  border: 2px solid transparent;
  border-radius: 1vw;
  transition: border-color 0.3s ease;
}

.login:hover {
  border-color: #ffffff;
}
